:root {
    --gray: #E8E4EF;
    --white-gray: #edf2f4;
    --purple: #825E8A;
    --green-light: #D8F1AB;
    --green-dark: #4F9872;
    --red-light: #ef233c;
    --dark: #140b0f;
    --gold: #D9C288;
}